﻿@using Microsoft.AspNetCore.Http.Features

@{
  var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
  var showBanner = !consentFeature?.CanTrack ?? false;
  var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
  <nav id="navCookie" class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#cookieConsent" aria-controls="cookieConsent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="cookieConsent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <p class="navbar-text">
                Use this space to summarize your privacy and cookie use policy.
          </p>
          <div class="navbar-right">
              <a asp-controller="Home" asp-action="Privacy" class="btn btn-info navbar-btn">Learn More</a>
              <button id="acceptCookie" type="button" class="btn btn-default navbar-btn" data-cookie-string="@cookieString">Accept</button>
          </div>
        </li>
      </ul>
    </div>  
  </nav>      

  <script>
    (function () {
      document.querySelector("#acceptCookie").addEventListener("click", function (el) {
          document.cookie = el.target.dataset.cookieString;
          document.querySelector("#navCookie").classList.add("d-none");
      }, false);
    })();
  </script>
}
