﻿
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
      <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
      <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
      <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.1.3/css/bootstrap.min.css"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
      <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
  </head>
  <body>
    <partial name="_CookieConsentPartial" />
    <nav class="navbar menu navbar-expand-lg navbar-dark bg-dark ">
      <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
        <img src=~/images/logo_40h.png />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Home</a></li>
          </li>
          
          @if (@ViewBag.CurrentUser != null){
            <li><a asp-area="" asp-controller="Schedules" asp-action="Index" class="nav-link">Schedules</a></li>
            @if (!ViewBag.IsClient){
              <li><a asp-area="" asp-controller="Clients" asp-action="Index" class="nav-link">Clients</a></li>
              <li><a asp-area="" asp-controller="Treatments" asp-action="Index" class="nav-link">Treatments</a></li>
            }
          }
      
          @if (@ViewBag.CurrentUser != null){
            <ul class="nav navbar-nav  ">
              <li class="nav-item dropdown">
                <a href="#" class=" nav-link dropdown-toggle" data-toggle="dropdown">
                  @ViewBag.CurrentUser.Name @ViewBag.CurrentUser.Surname <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  @if (ViewBag.IsClient){
                    <li><a class="dropdown-item" asp-area="" asp-controller="Clients" asp-action="Details" asp-route-id="@ViewBag.CurrentUser.Id">Edit Your Profile</a></li>
                    <div class="dropdown-divider"></div>
                  }
                  
                  <li><a class="dropdown-item" asp-area="" asp-controller="Sessions" asp-action="Destroy">Logout</a></li>
                </ul>
              </li>
            </ul>
          }
        </ul>    
      </div>
    </nav>

    

    <div class="container body-content">
      @RenderBody()
      <hr />
      <footer>
        <p>&copy; 2018 - ClinicalAgenda</p>
      </footer>
    </div>

    <environment include="Development">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <partial name="_ValidationScriptsPartial" />
    

    @RenderSection("Scripts", required: false)
  </body>
</html>
