@model IEnumerable<ClinicalAgenda.Web.MVC.Models.ScheduleViewModel>

@if (@Model == null) {
  <div class="d-flex justify-content-between flex-wrap">
    Nothing here yet.
  </div>
} else {
  <div class="d-flex justify-content-between flex-wrap">
    @foreach (var item in @Model) { 
      var cardType = item.Treatment.Type == TreatmentType.Massage ? "bg-warning" : "bg-info";
      
      <div class="card mb-4 @cardType w-100" >
        <div class="card-header">
          <span class="align-middle card-header-title"><b>@Html.DisplayFor(modelItem => item.Treatment.Name)</b></span>
          <div class="btn-group float-right" role="group">
            <a class="btn btn-dark btn-sm" asp-controller="Schedules" asp-action="Details" asp-route-id="@item.Id">View Details</a>
            @if (item.Client.Id == ViewBag.CurrentUser.Id) {
              <a class="btn btn-secondary btn-sm" asp-controller="Schedules" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
              <a class="btn btn-danger btn-sm" asp-controller="Schedules" asp-action="Delete" asp-route-id="@item.Id">Cancel</a>
            }
          </div> 
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col text-right" >
              <b>@Html.DisplayNameFor(modelItem => item.StartTime):</b>
            </div>
            <div class="col" >
              @Html.DisplayFor(modelItem => item.StartDate) @Html.DisplayFor(modelItem => item.StartTime)
            </div>
          
            <div class="col text-right" >
              <b>@Html.DisplayNameFor(modelItem => item.SessionDuration):</b>
            </div>
            <div class="col" >
              @Html.DisplayFor(modelItem => item.SessionDuration)
            </div>
          
            @if (!ViewBag.IsClient){
              <div class="col text-right" >
                <b>@Html.DisplayNameFor(modelItem => item.Client):</b>
              </div>
              <div class="col" >
                @Html.DisplayFor(modelItem => item.Client.Name) @Html.DisplayFor(modelItem => item.Client.Surname)
              </div>
            }
          </div>
        </div>
      </div>
    }
  </div> 
}