﻿@model ClinicalAgenda.Web.MVC.Models.ClientViewModel

@{
  ViewBag.Title =  ViewBag.IsClient? "My Profile": "Details of Client";
}

<div class="card mb-4 bg-light w-100" >
  <div class="card-header">
    <span class="align-middle card-header-title font-weight-bold">@ViewBag.Title</span>
    <div class="btn-group float-right" role="group">
      @if (ViewBag.IsClient) {
        <a class="btn btn-secondary btn-sm" asp-controller="Clients" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
      }
    </div> 
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col font-weight-bold">@Html.DisplayNameFor(model => model.Name):</div>
      <div class="col">@Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Surname)</div>
      <div class="col font-weight-bold">@Html.DisplayNameFor(model => model.Email):</div>
      <div class="col">@Html.DisplayFor(model => model.Email)</div>
    </div>
    <div class="row">
      <div class="col font-weight-bold">@Html.DisplayNameFor(model => model.Document):</div>
      <div class="col">@Html.DisplayFor(model => model.Document)</div>
      <div class="col font-weight-bold">@Html.DisplayNameFor(model => model.Cellphone):</div>
      <div class="col">@Html.DisplayFor(model => model.Cellphone)</div>
    </div>
    <div class="row">
      <div class="col col-3 font-weight-bold">@Html.DisplayNameFor(model => model.Address):</div>
      <div class="col col-3">@Html.DisplayFor(model => model.Address)</div>
    </div>
  </div>
</div>

<h4>Schedules</h4>
<hr/>
<partial name="~/Views/Shared/_ScheduleList.cshtml" model="ViewBag.Schedules"/>


