﻿@model ClinicalAgenda.Web.MVC.Models.ClientViewModel

@{
  ViewBag.Title = "Edit My Profile";
}

@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()
  
  <div class="form-horizontal">
    <div class="row">
      <div class="col"><h2>@ViewBag.Title</h2></div>
      <div class="col">
        <div class="float-right" >
          <a class="btn btn-secondary" asp-controller="Details" asp-action="Index" asp-route-id="@Model.Id">Cancel</a>
          <button type="submit" class="btn btn-primary" >Update Profile</button>
        </div>
      </div>
    </div>
    <hr />
    
    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Password)
    <div class="row">
      <div class="col">
        <div class="form-group">
          @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" }):
          @Html.DescriptionFor(model => model.Name)
          
          @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label" }): 
          @Html.DescriptionFor(model => model.Surname)
          
          @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" }): 
          @Html.DescriptionFor(model => model.Email)
          
          @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
      </div>
    </div>  
    <div class="row">
      <div class="col">
        <div class="form-group">
          @Html.LabelFor(model => model.Document, htmlAttributes: new { @class = "control-label" }): 
          @Html.DescriptionFor(model => model.Document)

          @Html.EditorFor(model => model.Document, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Document, "", new { @class = "text-danger" })
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          @Html.LabelFor(model => model.Cellphone, htmlAttributes: new { @class = "control-label" }):
          @Html.DescriptionFor(model => model.Cellphone)
          @Html.EditorFor(model => model.Cellphone, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Cellphone, "", new { @class = "text-danger" })
        </div>
      </div>
      <div class="col col-6">
        <div class="form-group">
          @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" }): 
          @Html.DescriptionFor(model => model.Address)
          @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </div>
      </div>
    </div>    
  </div> 

}


