﻿
@model IEnumerable<ClinicalAgenda.Web.MVC.Models.ClientViewModel>

@{
  ViewBag.Title = "Index";
}

<div class="row">
  <div class="col">
    <h2>My Clients</h2>
  </div>
</div>    

<hr/>

<div class="d-flex justify-content-between flex-wrap">
  @foreach (var item in @Model) { 
    
    <div class="card mb-4 bg-light w-100" >
      <div class="card-header">
        <span class="align-middle card-header-title"><b>@Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Surname)</b></span>
        <div class="btn-group float-right" role="group">
          <a class="btn btn-dark btn-sm" asp-controller="Clients" asp-action="Details" asp-route-id="@item.Id">View Details</a>  
        </div> 
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col text-right" >
            <b>@Html.DisplayNameFor(modelItem => item.Document):</b>
          </div>
          <div class="col" >
            @Html.DisplayFor(modelItem => item.Document)
          </div>
        
          <div class="col text-right" >
            <b>@Html.DisplayNameFor(modelItem => item.Cellphone):</b>
          </div>
          <div class="col" >
            @Html.DisplayFor(modelItem => item.Cellphone)
          </div>

          <div class="col text-right" >
            <b>@Html.DisplayNameFor(modelItem => item.Address):</b>
          </div>
          <div class="col col-3" >
            @Html.DisplayFor(modelItem => item.Address)
          </div>
          
        </div>
      </div>
    </div>
  }
</div>  

