﻿@model IEnumerable<ClinicalAgenda.Web.MVC.Models.ScheduleViewModel>
@{
  ViewData["Title"] = "Home Page";
  ViewBag.SchedulesTitle = ViewBag.IsClient ? "My Schedules" : "Schedules";
}

@if (ViewBag.IsClient){
  <div class="jumbotron">
    <h1 class="display-4">Hi, @ViewBag.CurrentUser.Name!</h1>
    <p class="lead">This is the Clinical Agenda, here you can schedule your service with an easy way. Here your treatment or massage is close than you can imagine. Enjoy!</p>
    <hr class="my-4">
    <p>To schedule a massage or treatment, just press the buttom below.</p>
    <a class="btn btn-success" asp-controller="Schedules" asp-action="Create">Schedule Now</a>   
  </div>
}

<h3>@ViewBag.SchedulesTitle</h3> 
<hr/>
@if (@Model.Count() == 0){
  <h6>Nothing here yet. Click on 
    <a class="badge badge-success" asp-controller="Schedules" asp-action="Create">Schedule Now</a>
    to schedule your treatment or massage.</h6>
} else {
  <div class="d-flex justify-content-between flex-wrap">
    @foreach (var item in @Model) { 
      var cardType = item.Treatment.Type == TreatmentType.Massage ? "bg-warning" : "bg-info";
      
      <div class="card mb-4 @cardType" style="width: 48%;">
        <div class="card-header">
          <span class="align-middle card-header-title"><b>@Html.DisplayFor(modelItem => item.Treatment.Name)</b></span>
          <div class="btn-group float-right" role="group">
            <a class="btn btn-dark btn-sm" asp-controller="Schedules" asp-action="Details" asp-route-id="@item.Id">View Details</a>
            @if (ViewBag.IsClient) {
              <a class="btn btn-secondary btn-sm" asp-controller="Schedules" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
              <a class="btn btn-danger btn-sm" asp-controller="Schedules" asp-action="Delete" asp-route-id="@item.Id">Cancel</a>
            }
          </div> 
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col col-4 mb-4 text-right" >
              <b>@Html.DisplayNameFor(modelItem => item.StartTime):</b>
            </div>
            <div class="col" >
              @Html.DisplayFor(modelItem => item.StartDate) @Html.DisplayFor(modelItem => item.StartTime)            
            </div>
          </div>
          <div class="row">
            <div class="col col-4 mb-4 text-right" >
              <b>@Html.DisplayNameFor(modelItem => item.SessionDuration):</b>
            </div>
            <div class="col" >
              @Html.DisplayFor(modelItem => item.SessionDuration)
            </div>
          </div>
          @if (!ViewBag.IsClient){
            <div class="row">
              <div class="col col-4 mb-4 text-right" >
                <b>@Html.DisplayNameFor(modelItem => item.Client):</b>
              </div>
              <div class="col" >
                @Html.DisplayFor(modelItem => item.Client.Name) @Html.DisplayFor(modelItem => item.Client.Surname)
              </div>
            </div>
          }
        </div>
      </div>
    }
  </div>
}  