﻿@model ClinicalAgenda.Web.MVC.Models.TreatmentViewModel

<div class="row">
  <div class="col ">
    <div class="form-group">
      @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" }): 
      @Html.DescriptionFor(model => model.Name)

      @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
  </div>
  <div class="col ">
    <div class="form-group">
      @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label" }): 
      @Html.DescriptionFor(model => model.Type)

      <select class="custom-select" asp-for="Type" asp-items="ViewBag.TreatmentTypes"></select>
      @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
    </div>
  </div>  
    
</div>


