﻿@model ClinicalAgenda.Web.MVC.Models.TreatmentViewModel

@{
  ViewBag.Title = "Create Treatment";
}

@using (Html.BeginForm()) 
{
  @Html.AntiForgeryToken()
    
  <div class="form-horizontal">
    <div class="row">
      <div class="col">
        <h2>@ViewBag.Title</h2>
      </div>
    
      <div class="col">
        <div class="float-right" >
          <a class="btn btn-secondary" asp-controller="Treatments" asp-action="Index">Cancel</a>
          <button type="submit" value="Create" class="btn btn-primary" >Create Treatment</button>
          
        </div>
      </div>
    </div> 
    <hr />
    
    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

    <partial name="_Form" />
   
  </div>
}

