﻿@model ClinicalAgenda.Web.MVC.Models.TreatmentViewModel

@{
  ViewBag.Title = "Details";
  var cardType = Model.Type == TreatmentType.Massage ? "bg-warning" : "bg-info";
}

<div class="card mb-4 @cardType w-100" >
  <div class="card-header">
    <span class="align-middle card-header-title font-weight-bold">Details of Treatment</span>
    <div class="btn-group float-right" role="group">
      @if (!ViewBag.IsClient) {
        <a class="btn btn-secondary btn-sm" asp-controller="Treatments" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a class="btn btn-danger btn-sm" asp-controller="Treatments" asp-action="Delete" asp-route-id="@Model.Id">Cancel</a>
      }
    </div> 
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col col-2 font-weight-bold">@Html.DisplayNameFor(model => model.Name):</div>
      <div class="col">@Html.DisplayFor(model => model.Name)</div>
      <div class="col col-2 font-weight-bold">@Html.DisplayNameFor(model => model.Type):</div>
      <div class="col">@Html.DisplayFor(model => model.Type)</div>
    </div>
  </div>
</div>