﻿
@model IEnumerable<ClinicalAgenda.Web.MVC.Models.TreatmentViewModel>

@{
  ViewBag.Title = "Index";
}

<div class="row">
  <div class="col">
    <h2>Treatments</h2>
  </div>
  <div class="col">
    <div class="float-right" >
      <a class="btn btn-primary" asp-controller="Treatments" asp-action="Create">Create New</a>
    </div>  
  </div>
</div>    

<hr/>

<div class="d-flex justify-content-between flex-wrap">
  @foreach (var item in @Model) { 
    var cardType = item.Type == TreatmentType.Massage ? "bg-warning" : "bg-info";
    <div class="card mb-4 @cardType w-100" >
      <div class="card-header">
        <span class="align-middle card-header-title"><b>@Html.DisplayFor(modelItem => item.Name)</b></span>
        <div class="btn-group float-right" role="group">
          @if (!ViewBag.IsClient) {
            <a class="btn btn-dark btn-sm" asp-controller="Treatments" asp-action="Details" asp-route-id="@item.Id">View Details</a>
            <a class="btn btn-secondary btn-sm" asp-controller="Treatments" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            <a class="btn btn-danger btn-sm" asp-controller="Treatments" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
          }
        </div> 
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col col-1 text-right" >
            <b>@Html.DisplayNameFor(modelItem => item.Type):</b>
          </div>
          <div class="col" >
            @Html.DisplayFor(modelItem => item.Type)
          </div>
        
        </div>
      </div>
    </div>
  }
</div>  

