﻿@model ClinicalAgenda.Web.MVC.Models.ScheduleViewModel

<div class="row">
  <div class="col ">
    <div class="form-group">
      @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" }): 
      @Html.DescriptionFor(model => model.StartDate)

      @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
    </div>
  </div>
  <div class="col ">
    <div class="form-group">
      @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label" }): 
      @Html.DescriptionFor(model => model.StartTime)

      <select class="custom-select" asp-for="StartTime" asp-items="ViewBag.StartTimes"></select>
      @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
    </div>
  </div>  
  <div class="col ">  
    <div class="form-group">
      @Html.LabelFor(model => model.SessionDuration, htmlAttributes: new { @class = "control-label " }): 
      @Html.DescriptionFor(model => model.SessionDuration)
      
      <select class="custom-select" asp-for="SessionDuration" asp-items="ViewBag.SessionDurations"></select>
      @Html.ValidationMessageFor(model => model.SessionDuration, "", new { @class = "text-danger" })
    </div>
  </div>  
  <div class="col ">  
    <div class="form-group">
      @Html.LabelFor(model => model.TreatmentId, htmlAttributes: new { @class = "control-label " }): 
      @Html.DescriptionFor(model => model.TreatmentId)
  
      <select class="custom-select" asp-for="TreatmentId" asp-items="ViewBag.Treatments"></select>  
      @Html.ValidationMessageFor(model => model.TreatmentId, "", new { @class = "text-danger" })
    </div>
  </div>  
</div>


