﻿@model ClinicalAgenda.Web.MVC.Models.ScheduleViewModel

@{
  ViewBag.Title = "Create Schedule";
}



@using (Html.BeginForm()) 
{
  @Html.AntiForgeryToken()
    
  <div class="form-horizontal">
    <div class="row">
      <div class="col">
        <h2>@ViewBag.Title</h2>
      </div>
    
      <div class="col">
        <div class="float-right" >
          <a class="btn btn-secondary" asp-controller="Schedules" asp-action="Index">Cancel</a>
          <button type="submit" value="Create" class="btn btn-primary" >Create Schedule</button>
          
        </div>
      </div>
    </div> 
    <hr />
    
    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

    <partial name="_Form" />

    <hr/>
    <h4>My Actual Schedules</h4>
    
    <partial name="~/Views/Shared/_ScheduleList.cshtml" model="@ViewBag.MySchedules"/> 
  </div>
}

