﻿@model ClinicalAgenda.Web.MVC.Models.ScheduleViewModel

@{
    ViewBag.Title = "Delete";
    var cardType = Model.Treatment.Type == TreatmentType.Massage ? "bg-warning" : "bg-info";
}

<div class="row">
    <div class="col col-10">
        <h4> You are close to cancel your schedule. </h4>
        <span>Please review and press confirm cancel button.</span>
    </div>
    <div class="col">
        <div class="float-right">
            <a class="btn btn-primary btn-sm" asp-controller="Schedules" asp-action="Index">Go to Home</a>
        </div>
    </div>
</div>
<hr />
@Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

<div class="card mb-4 @cardType w-100">
    <div class="card-header">
        <span class="align-middle card-header-title font-weight-bold">Schedule to Cancel</span>
        <div class="btn-group float-right" role="group">
            @if (ViewBag.IsClient)
            {
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmModal" data-whatever="">Confirm Cancel</button>
            }
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col col-2 font-weight-bold">@Html.DisplayNameFor(model => model.StartTime):</div>
            <div class="col">@Html.DisplayFor(model => model.StartTime)</div>
            <div class="col col-2 font-weight-bold">@Html.DisplayNameFor(model => model.SessionDuration):</div>
            <div class="col">@Html.DisplayFor(model => model.SessionDuration)</div>
        </div>
        <div class="row">
            <div class="col col-2 font-weight-bold">@Html.DisplayNameFor(model => model.Treatment):</div>
            <div class="col col-4">@Html.DisplayFor(model => model.Treatment.Name)</div>

        </div>
    </div>
</div>
@if (!ViewBag.IsClient)
{
    <div class="card mb-4 bg-light w-100">
        <div class="card-header">
            <span class="align-middle card-header-title font-weight-bold">Client</span>
            <div class="btn-group float-right" role="group">
                <a class="btn btn-secondary btn-sm" asp-controller="Clients" asp-action="Details" asp-route-id="@Model.Client.Id">View Details</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col font-weight-bold">@Html.DisplayNameFor(model => model.Client.Name):</div>
                <div class="col">@Html.DisplayFor(model => model.Client.Name) @Html.DisplayFor(model => model.Client.Name)</div>
                <div class="col font-weight-bold">@Html.DisplayNameFor(model => model.Client.Email):</div>
                <div class="col">@Html.DisplayFor(model => model.Client.Email)</div>
            </div>
            <div class="row">
                <div class="col font-weight-bold">@Html.DisplayNameFor(model => model.Client.Document):</div>
                <div class="col">@Html.DisplayFor(model => model.Client.Document)</div>
                <div class="col font-weight-bold">@Html.DisplayNameFor(model => model.Client.Cellphone):</div>
                <div class="col">@Html.DisplayFor(model => model.Client.Cellphone)</div>
            </div>
            <div class="row">
                <div class="col col-3 font-weight-bold">@Html.DisplayNameFor(model => model.Client.Address):</div>
                <div class="col col-3">@Html.DisplayFor(model => model.Client.Address)</div>
            </div>
        </div>
    </div>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="confirmModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">You are realy shure?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>After confirm, this action can not be undone.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" value="DeleteConfirm" class="btn btn-danger">Confirm Delete</button>
                </div>
            </div>
        </div>
    </div>
}



