﻿@model ClinicalAgenda.Web.MVC.Models.ScheduleViewModel

@{
  ViewBag.Title = "Details";
  var cardType = Model.Treatment.Type == TreatmentType.Massage ? "bg-warning" : "bg-info";
}

<div class="card mb-4 @cardType w-100" >
  <div class="card-header">
    <span class="align-middle card-header-title font-weight-bold">Details of Schedule</span>
    <div class="btn-group float-right" role="group">
      @if (ViewBag.IsClient) {
        <a class="btn btn-secondary btn-sm" asp-controller="Schedules" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a class="btn btn-danger btn-sm" asp-controller="Schedules" asp-action="Delete" asp-route-id="@Model.Id">Cancel</a>
      }
    </div> 
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col col-2 font-weight-bold">@Html.DisplayNameFor(model => model.StartTime):</div>
      <div class="col">@Html.DisplayFor(model => model.StartTime)</div>
      <div class="col col-2 font-weight-bold">@Html.DisplayNameFor(model => model.SessionDuration):</div>
      <div class="col">@Html.DisplayFor(model => model.SessionDuration)</div>
    </div>
    <div class="row">  
      <div class="col col-2 font-weight-bold">@Html.DisplayNameFor(model => model.Treatment):</div>
      <div class="col col-4">@Html.DisplayFor(model => model.Treatment.Name)</div>
      
    </div>
  </div>
</div>
@if (!ViewBag.IsClient) {
  <div class="card mb-4 bg-light w-100" >
    <div class="card-header">
      <span class="align-middle card-header-title font-weight-bold">Client</span>
      <div class="btn-group float-right" role="group">
        <a class="btn btn-secondary btn-sm" asp-controller="Clients" asp-action="Details" asp-route-id="@Model.Client.Id">View Details</a>
      </div> 
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col font-weight-bold">@Html.DisplayNameFor(model => model.Client.Name):</div>
        <div class="col">@Html.DisplayFor(model => model.Client.Name) @Html.DisplayFor(model => model.Client.Name)</div>
        <div class="col font-weight-bold">@Html.DisplayNameFor(model => model.Client.Email):</div>
        <div class="col">@Html.DisplayFor(model => model.Client.Email)</div>
      </div>
      <div class="row">
        <div class="col font-weight-bold">@Html.DisplayNameFor(model => model.Client.Document):</div>
        <div class="col">@Html.DisplayFor(model => model.Client.Document)</div>
        <div class="col font-weight-bold">@Html.DisplayNameFor(model => model.Client.Cellphone):</div>
        <div class="col">@Html.DisplayFor(model => model.Client.Cellphone)</div>
      </div>
      <div class="row">
        <div class="col col-3 font-weight-bold">@Html.DisplayNameFor(model => model.Client.Address):</div>
        <div class="col col-3">@Html.DisplayFor(model => model.Client.Address)</div>
      </div>
    </div>
  </div>
}