﻿@model ClinicalAgenda.Web.MVC.Models.ScheduleViewModel

@{
  ViewBag.Title = "Edit Schedule";
}

@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()
  
  <div class="form-horizontal">
    <div class="row">
      <div class="col">
        <h2>@ViewBag.Title</h2>
      </div>
    
      <div class="col">
        <div class="float-right" >
          <a class="btn btn-secondary" asp-controller="Schedules" asp-action="Index">Cancel</a>
          <input type="submit" value="Save Schedule" class="btn btn-primary" />
          
        </div>  
      </div>
    </div> 
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.ClientId)

    <partial name="_Form" />
  </div>
}

