﻿
@model IEnumerable<ClinicalAgenda.Web.MVC.Models.ScheduleViewModel>

@{
  ViewBag.Title = ViewBag.IsClient ? "My Schedules" : "Schedules";

}

<div class="row">
  <div class="col">
    <h2>@ViewBag.Title</h2>
  </div>
  <div class="col">
    <div class="float-right" >
      @if (ViewBag.IsClient){
        <a class="btn btn-primary" asp-controller="Schedules" asp-action="Create">Create New</a>
      }
    </div>  
  </div>
</div>    

<hr/>

<partial name="~/Views/Shared/_ScheduleList.cshtml"/> 

