﻿@model ClinicalAgenda.Web.MVC.Models.ClientViewModel

@{
  ViewBag.Title = "Create";
}

@using (Html.BeginForm()) 
{
  @Html.AntiForgeryToken()
    
  <div class="d-flex justify-content-center mt-5">
    <img src=~/images/logo_dark.png />
  </div>  

  <div class="d-flex justify-content-center">
    <div class="flex-fill form-horizontal col-6">
      <hr />
      @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
    
      <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
        
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        
      </div>
    
      <div class=" form-group ">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
        
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        
      </div>
      <div class="form-group">
        
        <button type="submit" value="Create" class="btn btn-primary" >Login</button> | 
        @Html.ActionLink("Create your account", "Register")
        
      </div>
    </div>
  </div>
}


