﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

.navbar.menu {
  margin-bottom: 20px;
  background-color: #195E7E !important;
}

/* Fixes dropdown menus placed on the right side */
.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
}

.card-header-title {
  font-size: larger;
}

[data-toggle="popover"] {
  outline: none;
}

.btn-primary {
  background-color: #1180B6;
}

.btn-primary:hover {
  background-color: #195E7E;
}

.alert ul {
  margin: 0 !important;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}

/* QR code generator */
#qrCode {
  margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {

  /* Hide captions */
  .carousel-caption {
    display: none;
  }
}